* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Form{
    position: absolute;
    background-color: green;
    height:100%;
    width:200px;
}


.icona{
    margin-left: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    background-color: aqua;
    width: 60px;
    height: 60px;

}


a:hover{
    transition-delay: 0.3s;
    color: #2b2bb2 
}

a{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    color:#2b2b2b;
    justify-content: center;
    display: flex;
    list-style: none;
}

.folderlist{
    margin-right: 5px;
    padding: 50px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: green;
    flex-direction: column;
}

