* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

nav {
    background-color: red;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}